.Carrito {
  display: inline-block;

  border-left: 20px;
  width: 100%;
}
.Vacio {
  width: 100%;

  display: inline-block;
  justify-content: center;
}

.Agregados {
  display: flex;
  color: black;
  padding-top: 20px;
  margin-left: 10px;
}
.Bloque {
  display: block;
}

.carritoP {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 16px;
}
.carritoTotal {
  display: inline;
  margin-left: 10px;
  color: black;
  font-size: 26px;
  height: 350px;
  text-decoration: underline black;
}
