.Carrito {
  display: inline-block;
 
  border-left: 20px;
  width: 100%;

 
}
.Vacio {
  width: 100%;

  display: inline-block;
  justify-content: center;
}

.Agregados {
    display: flex;
    justify-content: center;
    
}
.Bloque{
    display: block;
}

.carritoP{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 16px;
}
