@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=IBM+Plex+Serif:wght@700&display=swap');
h2 {
    text-align: center;
   color: black;
   font-size: 80px;
   font-family: 'EB Garamond', serif;
   font-family: 'IBM Plex Serif', serif;
}

p{

    text-align: center;
    padding-top: 60pt;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    font-family: 'IBM Plex Serif', serif;
}


.imgContacto{
    display: flex;
    margin: auto;

}